.card {
  background: #FFF;
  box-shadow: 1px 1px 20px #EEE;
  width: 50vw;
  height: 220px;
  border-radius: 12px;
  display: flex;
  flex-flow: row wrap;

  &__image {
    border-right: 1px solid #F9F9F9;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    padding: 16px;
    flex: 2;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    flex-flow: column nowrap;
    height: 100%;
    width: 90vw;

    &__image {
      display: none;
    }
  }
}