.profile-photo {
  border-radius: 100%;
  min-width: 200px;
  min-height: 200px;
  background: var(--avatarUrl);
  background-size: cover;
}

p {
  text-align: center;
  color: #fff;
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  padding: 0 24px;
}

h2 {
  color: #06d6a0;
  font-weight: 700;
  font-size: 32px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  p {
    text-align: center;
    color: #fff;
    margin-top: 24px;
    width: 70vw;
  }
}
