.button-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

button {
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  outline: none;
  cursor: pointer;
  justify-content: space-between;
  padding: 18px;
  text-align: left;
  text-decoration: none;
  width: 140px;
  height: 140px;
}

button.github {
  background: #6e5494;
  color: #f1eef4;
  background-image: url("../../../public/grid.svg");
}

button.shell-ai {
  background: #ddc9e3;
  color: #955ca6;
  background-image: url("../../../public/grid.svg");
}

button.linkedin {
  background: #b5e7fe;
  color: #0077b5;
  background-image: url("../../../public/grid.svg");
}

button.passionfruit {
  background: #8B5CF6;
  color: #f3effe;
  background-image: url("../../../public/grid.svg");
}

button.eyrie {
  background: #f98b3a;
  color: #FFF;
  background-image: url("../../../public/grid.svg");
}

button.eyrie > img {
  border-radius: 100%;
  margin-right: 12px;
}

button.enql {
  background: #191D25;
  color: #FFF;
  background-image: url("../../../public/grid.svg");
}

button.enql > img {
  border-radius: 100%;
  margin-right: 12px;
}

button > svg {
  margin-right: 12px;
}
