@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 48px;
  color: #352D39;
  font-size: 12px;
}