<div class="container">
  <div class="top">
    <div class="profile-photo"></div>
    <h2>Jack Thomson</h2>

    <div class="button-container">
      <button>
        <img width="25" height="auto" src="../../../assets/github.svg" />
        Github
      </button>
    </div>
  </div>

  <div class="bottom">
    <div class="card">
      <div class="card__image">
        <img src="../assets/frame-2.svg" />
      </div>
      <div class="card__body">
        <p>I am a stylishly creative <strong>Full Stack software engineer</strong> based in Cardiff, Wales. I strive to
          create beautiful
          experiences from the back-end systems right through to the user facing screens. I take pride in the code I
          write
          in <strong>both it's complexity and minimalism.</strong> I have experience in a wide range of technologies and
          I am always
          pushing
          myself to learn more everyday. I love what I do and I like to think that is expressed clearly in my work both
          personally and professionaly</p>
      </div>
    </div>

    <div class="technologies">
      <img src="../assets/node.png" height="40" />
      <img src="../assets/angular.png" height="40" />
      <img src="../assets/java.png" height="40" />
      <img src="../assets/react-native.png" height="40" />
      <img src="../assets/docker.png" height="40" />
      <img src="../assets/github.svg" height="40" />
    </div>
  </div>
</div>