@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600,700&display=swap');

:root {
  --avatarUrl: '';
}

.container {
  display: flex;
  flex-flow: column wrap;
}

.top {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/frame-1.svg) no-repeat;
  background-size: cover;
  height: 50vh;
}

.bottom {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.technologies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;

  & > svg {
    margin-top: 48px;
    margin-right: 12px;
  }
}

.profile-photo {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: var(--avatarUrl);
  background-size: cover;
  margin-bottom: 8px;
}

.button-container {
  margin-top: 24px;
}

@media screen and (max-width: 1024px) {
  .top {
    height: 50vh;
  }

  .technologies {
    width: 60vw;
  }
}
