:root {
  --avatarUrl: "";
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
}

button.github {
  background: #f2f0f6;
  color: #6e5494;
}

button.shell-ai {
  background: #ddc9e3;
  color: #955ca6;
}

button.linkedin {
  background: #b5e7fe;
  color: #0077b5;
}

button > svg {
  margin-right: 12px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  padding: 0 12px;
}

.top {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.top > h2 {
  color: #47a248;
  font-weight: 500;
  font-size: 24px;
  margin-top: 24px;
}

.top > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #352d39;
  margin-top: 12px;
  text-align: center;
}

.top > p > a {
  color: #fa4616;
  font-weight: 700;
}

.profile-photo {
  border-radius: 100%;
  border: 8px solid #eff8f0;
  width: 200px;
  height: 200px;
  background: var(--avatarUrl);
  background-size: cover;
}

.button-container {
  display: flex;
  margin: 24px 0 0 0;
}

.button-container > a {
  margin: 0 4px;
}
