@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;

  &.github {
    background: lighten(#6e5494, 50%);
    color: #6e5494;
  }

  &.linkedin {
    background: lighten(#0077b5, 50%);
    color: #0077b5;
  }

  & > svg {
    margin-right: 12px;
  }
}
